.btn-explore, .btn-order {
    @include btn-style;

    &:hover {
        @include btn-hover-style
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-order {
        width: 190px;
    }
}