@keyframes loading-screen {
    from {
        opacity: 0.9;
    }

    to {
        opacity: 0;
    }
}

@keyframes loading-check {
    0% {
        transform: rotate(-720deg);
    }

    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-720deg);
    }
}

@keyframes loading-utensils {
    0% {
        transform: translateY(10%) translate(0deg);
    }

    25% {
        transform: translateY(-10%) rotate(-45deg);
    }

    50% {
        transform: translateY(10%) rotate(0deg);
    }

    75% {
        transform: translateY(-10%) rotate(45deg);
    }

    100% {
        transform: translateY(10%) rotate(0deg);
    }
}

@keyframes loading-heart {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(0.8);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes dishes-appears {
    0% {
        opacity: 0;
        transform: translateY(15%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes check-rotate {
    from {
        transform: rotate(-720deg);
    }
    to {
        transform: rotate(0);
    }
}