@mixin gradient {
    background: linear-gradient($color-secondary, $color-primary);
}

@mixin btn-style {
    @include gradient;
    border: none;
    border-radius: 30px;
    margin: 25px 0;
    padding: 15px 25px;
    font-size: 17px;
    color: white;
    box-shadow: 0px 5px 5px lightgrey;
}

@mixin full-heart-style {
    @include gradient;
    color: transparent;
    opacity: 0;
    transition: 200ms;
    background-clip: text;
    -webkit-background-clip: text;
    &:hover {
        opacity: 1;
        transform: scale(1.4, 1.6);
    }
}

@mixin text-style-menus {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}