footer {
    padding: 25px 25px;
    color: white;
    background-color: $footer-background;

    @media (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        margin: 0;
        font-size: 1.125rem;
        font-weight: 300;

        @media (min-width: 1024px) {
            font-size: 2.5rem;
        }
    }

    ul {
        margin: 0;
        padding: 15px 0;
    }

    li {
        display: flex;
        flex-direction: column;

        @media (min-width: 1024px) {
            display: flex;
            align-items: center;
        }
    }

    a {
        display: flex;
        padding: 10px 0 0 0;
    }

    i {
        padding-right: 15px;
    }

    .fa-hands-helping {
        transform: rotate(-15deg);
        font-size: 70%;
    }
}
