.location {
    
    &__result {
        display: flex;
        justify-content: center;
        align-items: baseline;
        background-color: $darker-background;
    }

    &__result p {
        padding: 0 23px 0 17px;
        font-size: 1rem;
        font-weight: bold;
    }

    &__explore {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 33px 15px;
        background-color: $lighter-background;
    }

    &__explore h2 {
        margin: 0;
        padding: 7px 25px;
        font-size: 1.625rem;
    }

    &__explore p {
        margin: 0;
        padding: 7px 0;
        font-size: 1.2rem;
        font-weight: 300;
    }
}