.restaurants {
    padding: 25px;
    background-color: $lighter-background;

    h3, p {
        margin: 0;
        padding: 0 0 5px 0;
        font-size: 18px;
    }
}

.card {
    margin: 25px 0;
    border-radius: 15px;
    box-shadow: 0px 1px 15px lightgrey;

    &:hover {
        box-shadow: 0px 0px 15px darkgrey;
    }

    &__new {
        position: relative;
    }

    &__new:hover {
        box-shadow: 0px 0px 15px $color-tertiary;
    }

    &__new::before {
        content: "Nouveau";
        position: absolute;
        top: 13px; right: 13px;
        border-radius: 2px;
        padding: 8px 12px 4px 12px;
        color: #008766;
        background-color: $color-tertiary;
        font-size: 14px;
        font-weight: 500;
    }

    &__img {
        height: 170px;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
        object-position: bottom;
    }

    &__text {
        position: relative;
        border-radius: 0 0 15px 15px;
        padding: 15px 10px 10px 15px;
        background-color: white;
    }

    &__text i {
        position: absolute;
        bottom: 30px; right: 25px;
        font-size: 26px;
        transform: scale(0.9, 1);
        cursor: pointer;
    }

    .full-heart {
        @include full-heart-style;
    }
}